.status {
  width: 736px;
  height: 19px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 64px;
}

.created {
  width: 139px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.created span:nth-child(1) {
  color: var(--blue, #4EA8DE);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4;
}

.created span:nth-child(2) {
  background: var(--gray-400, #333);
  border-radius: 999px;
  color: var(--gray-200, #D9D9D9);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.4;
  padding: 2px 8px;
}

.finished {
  width: 139px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.finished span:nth-child(1) {
  color: var(--purple, #A593F3);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4;
}

.finished span:nth-child(2) {
  background: var(--gray-400, #333);
  border-radius: 999px;
  color: var(--gray-200, #D9D9D9);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.4;
  padding: 2px 8px;
}