.taskinput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 1.5rem - 6px);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type='text'] {
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--gray-100);
  padding: 16px;
  width: 39.875rem;
  height: 3.375rem;
  caret-color: var(--gray-100);
}

button[type='submit'] {
  background: var(--blue-dark);
  border: none;
  border-radius: 8px;
  color: var(--gray-100);
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.4;
  padding: 16px;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.1s;
}

button[type='submit']:hover {
  background: var(--blue);
}

button[type='submit'] img {
  width: 1rem;
  margin-left: 8px;
}

button[type='submit']:disabled {
  background: var(--gray-500);
  cursor: not-allowed;
}
