.panel {
  display: flex;
  padding: 64px 24px;
  justify-content: center;
  align-self: stretch;
  gap: 16px;
  align-items: center;
}

.content {
  border-radius: 8px;
  border-top: 1px solid var(--grey-400, #333);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 736px;
  height: 244px;
}

.content strong {
  display: block;
  margin-top: 16px;
  line-height: 140%;
  text-align: center;
}